#wallpaper-stage{
    bottom:0;
    top:0;
    left:0;
    right:0;
    position: absolute;
}
#wallpaper-one,#wallpaper-two{
    position: absolute;
    bottom:0;
    top:0;
    left:0;
    right:0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:0;
}
#wallpaper-two{
    opacity: 0;
    z-index: 1;
}
