#universe{
    position: absolute;
        width: 100%;
        height: 100%;
    /*z-index:2;*/
}

.day, .night{
    width: 100%;
    height: 100%;
    position: absolute;
}
.day{
    background-image: url("day.jpg");
}
.night{
    background-image: url("night.jpg");
}

.star,.moon{
    border-radius: 100px;
    position: absolute;

}
.star{
    width: 150px;
    height: 150px;
    background-image: url("sun.png");
}

.moon{
    width: 100px;
    height: 100px;
    background-image: url("moon.png");
}

.landscape{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
