@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);

html,body{
    bottom:0;
    top:0;
    left:0;
    right:0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: #000;
    font-family: 'Cutive Mono', Arial, sans-serif;
}
